* {
  font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
}

.effects:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color:lightgrey;
  transition-property: color;
  color: gray;
  transition-duration: 500ms;
}

/* 
  Device = Desktops, Laptops
  Screen = 1025px to higher resolution
*/

@media (min-width: 1025px) {
  
  html {
    font-size: 16px;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    border: 1px solid gainsboro;
    font-size: 1.5rem;
  }

  .left-side {
    display: flex;
    align-items: center;
  }

  .left-side img {
    padding-left: 24px;
  }

  .navbar {
    list-style: none;
    display: flex;
    margin-left: auto;
    margin-right: 24px;
  }

  .navbar li {
    margin-left: 24px;
    font-family: "Roboto Slab", serif;
  }

  .logo_colmar {
    color: gray;
    font-weight: bold;
  }

  .logo_academy {
    color: lightgray;
    font-weight: bold;
  }

}



  
  
  
  
  





























 
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    /* CSS */
    
  }